body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* Cream color */
    color: #000; /* Black text */
}

header {
    background-color: #003153; /* Prussian blue */
    color: #fff; /* White text */
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #ff0000; /* Red */
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff; /* White text */
    font-weight: bold;
}

main {
    padding: 20px;
}

.footer-sections {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.footer-pane {
    background-color: #003153; /* Prussian blue */
    color: #fff; /* White text */
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    text-align: left;
}

.footer a {
    color: #fff; /* White */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
